.title-center-home {
    text-align: center;
}
.center-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.center-boxes p {
    padding-right: 50px;
}
.boxes {
    width: 300px;
    border-style: outset;
    padding: 50px;
    margin: 20px;
    text-align: center;
}